:host > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userImg {
  flex: 1 1 auto;
  display: flex;
}

.userImg img {
  border-radius: 50%;
  margin: auto;
}

.userDetail {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

span, a{
  font-size: 2em;
}

.fa-star {
  font-size: 200px;
  margin-right: 50px;
  cursor: pointer;
}

.fas.fa-star {
  color: #dede54;
}
